<!DOCTYPE html>
<html>
<head>
    <!-- CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../include/style.css">
    <!-- JS -->
    <script src="https://code.angularjs.org/1.4.0-rc.1/angular.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="validationApp" ng-controller="mainController">
<header>
        <a href="../index.html" class="bottonMain"></a>
        <a href="#"class="one"></a>
        <a href="#" class="two"></a>
        <a href="#"class="three"></a>
        <div id = "clear"> </div>
</header>
<div class="container">
    <!-- =================================================================== -->
    <!-- FORM ============================================================== -->
    <!-- =================================================================== -->
    <div class="formDesign" id="lesson">
    <!-- PAGE HEADER -->
        <div class="page-header">Lesson ID</div>
        <!-- pass in the variable if our form is valid or invalid -->
        <form name="userForm" class="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>

            <!-- ID -->
            <div class="form-group" ng-class="{ 'has-error' : userForm.LessonTitle.$invalid && !userForm.id.$pristine }">
                <label class="lableDes">ID:</label>
                 <input type="text" name="id" class="form-control form-control-lesson"  ng-model="user.id" ng-minlength="1" ng-maxlength="5">
                <p ng-show="userForm.id.$error.minlength" class="help-block">Lesson Title is too short.</p>
                <p ng-show="userForm.id.$error.maxlength" class="help-block">Lesson Title is too long.</p>
            </div>

            <!-- Subject -->
            <div class="form-group" ng-class="{ 'has-error' : userForm.subject.$invalid && !userForm.subject.$pristine }">
                <label class="lableDes">Subject:</label>
                <input type="text" name="subject" class="form-control form-control-lesson" ng-model="user.subject" required>
                <p ng-show="userForm.subject.$invalid && !userForm.subject.$pristine" class="help-block">Your name is required.</p>
            </div>
            
            <!-- Grade -->
            <div class="form-group" ng-class="{ 'has-error' : userForm.grade.$invalid && !userForm.grade.$pristine }">
                <label class="lableDes">Grade: </label>
                <input type="number" name="grade" class="form-control form-control-lesson" ng-model="user.grade" ng-minlength="1" ng-maxlength="3">
                <p ng-show="userForm.grade.$error.minlength" class="help-block">There is no possibility for such grade.</p>
                <p ng-show="userForm.grade.$error.maxlength" class="help-block">There is no possibility for such grade.</p>
            </div>

            <!-- Lesson Title -->
            <div class="form-group" ng-class="{ 'has-error' : userForm.LessonTitle.$invalid && !userForm.LessonTitle.$pristine }">
                <label class="lableDes">Title: </label>
                <input type="text" name="LessonTitle" class="form-control form-control-lesson" ng-model="user.LessonTitle" ng-minlength="4" ng-maxlength="10">
                <p ng-show="userForm.LessonTitle.$error.minlength" class="help-block">Lesson Title is too short.</p>
                <p ng-show="userForm.LessonTitle.$error.maxlength" class="help-block">Lesson Title is too long.</p>
            </div>

            <!-- Date -->
            <div class="form-group" ng-class="{ 'has-error' : userForm.date.$invalid && !userForm.date.$pristine }">
                <label class="lableDes">Date: </label>
                <input type="date" name="date" class="form-control form-control-lesson" ng-model="user.date">
                <p ng-show="userForm.date.$invalid && !userForm.date.$pristine" class="help-block">Enter a valid date.</p>
            </div>
            <div class="alert alert-danger" role="alert" ng-show="errorMsg">{{errorMsg}}</div>
            <button type="submit" class="btn btn-primary btn-new">Save</button>
            
        </form>
    </div>

    
</div>
</body>
</html>
