<!DOCTYPE html>
<html>
<head>
    <!-- CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="MCstyle.css">
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
    <!-- JS -->
    <script src="https://code.angularjs.org/1.4.0-rc.1/angular.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="validationApp" ng-controller="mainController">
<header>
        <a href="../index.html" class="bottonMain"></a>
        <a href="#"class="one"></a>
        <a href="#" class="two"></a>
        <a href="#"class="three"></a>
        <div id = "clear"> </div>
</header>
<div class="container">
    <!-- =================================================================== -->
    <!-- FORM ============================================================== -->
    <!-- =================================================================== -->
    <div class="formDesign">
    <!-- PAGE HEADER -->
        <div class="page-header"><p><img src="../images/QnATitle.png"></p></div>
        <!-- pass in the variable if our form is valid or invalid -->
        <form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>

            <!-- Question -->
            <div class="form-group" ng-class="{ 'has-error' : userForm.subject.$invalid && !userForm.Question.$pristine }">
                <label class:"lableDes">Question: <input type="text" name="Question" class="form-control" ng-model="user.Question" required></label>
                <p ng-show="userForm.Question.$invalid && !userForm.Question.$pristine" class="help-block">Your name is required.</p>
            </div>
            
            <!-- Answer1 -->
            <div class="form-group" ng-class="{ 'has-error' : userForm.Answer1.$invalid && !userForm.Answer1.$pristine }">
                <label class:"lableDes">Answer1: <input type="text" name="Answer1" class="form-control" ng-model="user.Answer1" required>
                    <input type="checkbox" id= "ans1">
                </label>
                <p ng-show="userForm.Answer1.$invalid && !userForm.Answer1.$pristine" class="help-block">Your name is required.</p>
            </div>

            <!-- Answer2 -->
            <div class="form-group" ng-class="{ 'has-error' : userForm.Answer2.$invalid && !userForm.Answer2.$pristine }">
                <label class:"lableDes">Answer2: <input type="text" name="Answer2" class="form-control" ng-model="user.Answer2" required>
                    <input type="checkbox" id = "ans2">
                </label>
                <p ng-show="userForm.Answer2.$invalid && !userForm.Answer2.$pristine" class="help-block">Your name is required.</p>
            </div>

            <!-- Answer3 -->
            <div class="form-group" ng-class="{ 'has-error' : userForm.Answer3.$invalid && !userForm.Answer3.$pristine }">
                <label class:"lableDes">Answer3: <input type="text" name="Answer3" class="form-control" ng-model="user.Answer3" required>
                    <input type="checkbox" id="ans3">
                </label>
                <p ng-show="userForm.Answer3.$invalid && !userForm.Answer3.$pristine" class="help-block">Your name is required.</p>
            </div>

            <!-- Answer4 -->
            <div class="form-group" ng-class="{ 'has-error' : userForm.Answer4.$invalid && !userForm.Answer4.$pristine }">
                <label class:"lableDes">Answer4: <input type="text" name="Answer4" class="form-control" ng-model="user.Answer4" required>
                    <input type="checkbox" id="ans4">
                </label>
                <p ng-show="userForm.Answer4.$invalid && !userForm.Answer4.$pristine" class="help-block">Your name is required.</p>
            </div>

            <div class="alert alert-danger" role="alert" ng-show="errorMsg">{{errorMsg}}</div>
            <button type="submit" class="btn btn-primary">Save</button>
            
        </form>
    </div>

    
</div>
</body>
</html>
